<section>
  <p>Total de tareas: {{ obtenerTotalTareas }}</p>

  <small *ngIf="obtenerTotalTareas > 5; else pocasTareas">Muchas tareas</small>

  <ng-template #pocasTareas>
    <small *ngIf="obtenerTotalTareas > 0">Pocas tareas</small>
  </ng-template>


</section>

<ul>
  <li *ngFor="let tarea of tareas">{{tarea}}</li>
</ul>

<button *ngIf="tareas.length > 0" (click)="eliminarTarea()">Completar siguiente tarea</button>

<div *ngIf="tareaEliminada; else sinCompletar">
  <p>Última tarea completada: {{ tareaEliminada }} </p>
</div>

<ng-template #sinCompletar>

  <p>No se ha completado ninguna tarea</p>

</ng-template>
