.elements {
  text-align: center;
  padding: 3rem 0;

}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  flex-basis: 30%;
  height: 4.5rem;
  border: 1px solid rgb(33, 32, 32);
  border-radius: 10px;
  background-color: #e9dede;
  color: black;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.buttons button:hover {
  background-color: #cacaca;
}
